.post {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  gap: 0.5rem;
}

.post-title {
  margin-top: 0;
  margin-bottom: 0;
}

.post-info-basic {
  display: flex;
  gap: 1rem;
}

.post-tags {
  display: flex;
  gap: 0.5rem;
}

.post-tag,
.post-tag:link {
  background-color: var(--accent-bg-color);
  color: var(--accent-fg-color);
  text-decoration: none;
  padding: 3px 5px;
  border-radius: 5px;
}

.post-tag:visited,
.post-tag:hover,
.post-tag:active {
  background-color: var(--accent-bg-color);
  color: var(--accent-fg-color);
  text-decoration: none;
  filter: brightness(85%);
}

.post-content {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.post-content img {
  max-width: 100%;
  height: auto;
}
